.btn_NwUser {
	width: 110px;
	height: 35px;
	border: none;
	background-color: #FF5858;
	color: white;
	box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.3);
	font-family: 'Fira Code', sans-serif;
	cursor: pointer;
}
.App {
	margin: 0;
	width: 100%;
	max-width: 700px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}
.title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 3rem;
	width: 100%;
}
.title h1 {
	color: #FF5858;
}
.bg_modale {
	background-color: rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

