@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	margin: 0;
	width: 100%;
	height: 100vh;
	font-family: 'Fira Code', monospace;
}
#root{
	margin: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

